/** {border: 1px solid white;}*/

body {
	margin: 0;
	background-color: black;
}

canvas {
	position: absolute;
	border: 0px solid black;
	z-index: -1;
}

.container {
	display: grid;
	width: 100%;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	z-index: 1;

	/*border: 1px solid white;*/
	height: 100vh;
}

.texto {
	justify-self: center;
	align-self: center;

	border-width: 1px;
	border-radius: 3px;

	font-family: Georgia;
	font-size: 144px;
	font-style: italic;

	color: rgba(0,0,0,0.5);
}